body {
	font-family: 'Merriweather', serif;
	font-size: 15px;
}
.center-text {
	text-align: center;
}
header {
	background: url('../images/img1.jpg') no-repeat;
	background-size: 100% 100%;
	min-height: 760px;
	nav {
		padding-top: 50px;
		background-color: transparent;
		box-shadow: none;
		ul {
			color: black;
			margin-right: 5%;
			text-transform: capitalize;
			li {
				&.active-nav {
					border: 1px solid #686868;
				}
				a {
					color: black;
					@extend .center-text;
					padding: 2px 25px;
					font-size: 18px;
				}
			}
		}
		a.button-collapse {
			color: black;
			margin-right: 30px;
		}
	}
	.container {
		h2 {
			font-size: 2em;
			text-align: center;
			font-weight: 300;
			margin-top: 80px;
			@media(min-width: 960px){
				margin-top: 130px;
			}
		}
		img {
			width: 100%;
		}
	}
}

.sub-header {
	background: url('../images/sub-header-bg.jpg');
	background-size: 100% 100%;
	.row {
		.col {
			img {
				// flexbox ??
			}
		}
	}
}